.inner-content {
    margin-top: auto;
    align-content: center;

}
/* ===========================
   RESPONSIVE
   =========================== */

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-menu {
    min-width: unset;
  }
}
